*.[chs]      filter=fixtabswsp
*.[ch]pp     filter=fixtabswsp
*.[ch]xx     filter=fixtabswsp
*.asm        filter=fixtabswsp
*.php        filter=fixtabswsp
*.pl         filter=fixtabswsp
*.sh         filter=fixtabswsp
*.txt	     filter=fixwsp
[Mm]akefile  filter=fixwsp
*.mk         filter=fixwsp
*.rc         -crlf
*.ds[pw]     -crlf
*.bat        -crlf
*.mmp        -crlf
*.dpj        -crlf
*.pjt        -crlf
*.vcp        -crlf
*.inf        -crlf

###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
#* text=auto
SMC/*.sln       text=auto
SMC/*.vcxproj   text=auto
SMC/*.vcproj    text=auto
